li {
    display: inline;
    margin-right: 10px;
}

/* Estilos para links quando o usuário está logado */
.loggedInLink {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #131313;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  font-size: large;
  font-weight: 500;
}

.loggedInLink:hover {
  background-color: #383838; /* Cor de fundo alterada no hover */
  border: 2px solid #ffffff; /* Cor da borda alterada no hover */
  color: white;
}

/* Estilos para links quando o usuário está deslogado */
.loggedOutLink {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #294231;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
}

.loggedOutLink:hover {
  background-color: #333; /* Cor de fundo alterada no hover */
  color: #fff; /* Cor do texto alterada no hover */
  border: 2px solid #333; /* Cor da borda alterada no hover */
}
